.header 
    i.fa.fa-exchange-alt.fa-lg.header-icon.toggle-sidebar  
    .dropdown.notification-container
        i.fa.fa-bell.fa-lg.header-icon.toggle-notifi#notifications( data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        .dropdown-menu(aria-labelledby='notifications')
            .notifi-head
                | Notifications
                span 50
            .notifi-content 
                ul.list-unstyled
                    li 
                        i.fa.fa-envelope.fa-lg
                        | You Get Email From 
                    li 
                        i.fa.fa-address-book.fa-lg
                        | You Get Email From 
                    li 
                        i.fa.fa-thumbs-up.fa-lg
                        | You Get Email From 
                    li 
                        i.fa.fa-envelope.fa-lg
                        | You Get Email From 
            .notifi-footer.text-center: a(href="#") View all Notifications
    i.fa.fa-expand-arrows-alt.fa-lg.header-icon.toggle-fullscreen