* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

// a {
//     color: #6c757d !important;
// }
// a:hover {
//     text-decoration: none;
// }
body {
    font-family: 'Cairo', sans-serif;
}

.page {
    min-height: 100vh;
    .conent-area {
        width: calc(100% - 250px);
        background-color: #f2f1f6;
        min-height: 100vh;
        transition: 0.3s;
        float: right;
        will-change: width;
        &.no-sidebar {
            width: 100%;
        }
    }
    .page-head {
        margin-top: 20px;
        padding: 20px;
        .page-title {
            font-weight: bold;
            color: #27ae60;
        }
        .page-description {}
    }
}