* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover {
    text-decoration: none;
}

body {
    font-family: 'Cairo', sans-serif;
}

.page {
    min-height: 100vh;
    .conent-area {
        width: calc(100% - 250px);
        background-color: #f2f1f6;
        min-height: 100vh;
        transition: 0.3s;
        float: right;
        will-change: width;
        &.no-sidebar {
            width: 100%;
        }
    }
}