.header {
    background-color: #fff;
    padding: 20px;
    .header-icon {
        background-color: #f9f9f9;
        border-radius: 50%;
        color: #555;
        cursor: pointer;
        margin-right: 10px;
    }
    .toggle-sidebar {
        cursor: pointer;
    }
    .notification-container {
        display: inline-block;
        // margin-left: 20px;
        .dropdown-menu {
            min-width: 400px;
            border: none;
            padding: 0 !important;
            left: -11px !important;
            top: 15px !important;
            &::before {
                content: "";
                position: absolute;
                top: -20px;
                left: 11px;
                border-style: solid;
                border-width: 10px;
                border-color: transparent transparent #333 transparent;
            }
            .notifi-head {
                background-color: #333;
                padding: 15px;
                color: #fff;
                span {
                    float: right;
                }
            }
            .notifi-content {
                // padding: 20px;
                ul {
                    margin: 0;
                    li {
                        padding: 10px;
                        i {
                            background-color: #eee;
                            padding: 10px;
                            border-radius: 50%;
                            width: 40px;
                            height: 40px;
                            line-height: 20px;
                            text-align: center;
                            margin-right: 5px;
                        }
                    }
                }
            }
            .notifi-footer {
                a {
                    display: block;
                    padding: 10px;
                    border-top: 1px solid #eee;
                }
            }
        }
    }
}