- var pageTitle = 'HomePage';
<!DOCTYPE html>
html(lang="en")
    head
        include pug/layout/meta
        include pug/layout/styles
    body
        .page.home-page
            include pug/comp/settings-box
            include pug/layout/sidebar 
            .conent-area
                include pug/layout/header
                .container-fluid
                    .content
                    include pug/comp/page-head
        include pug/layout/scripts 
